# Range, Up to but not including

In [1]:
myList = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(3, 10, 2): #2 means step
    print(num)

3
5
7
9

In [5]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

Good way to generate numbers

# Enumerate, turn any list into a touple key, value

In [6]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
for key, value in enumerate(word):
    print(key)
    print(value)
    print('\n')

0
a


1
b


2
c


3
d


4
e

# zip, tuple and packing 2 or more list the positions that match

In [9]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [10]:
list( zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

# in, checks if something is in a list

In [11]:
'x' in [1,2,3]

False

In [12]:
'x' in ['x', 'y','z']

True

In [13]:
myDic = {'mykey':123}

In [14]:
'mykey' in myDic

True

In [16]:
123 in myDic.values()

True

In [1]:
mylist = [10,20,30,40]

In [2]:
min(mylist)

10

In [4]:
max(mylist)

40

In [7]:
from random import shuffle
mylist = [1,2,3,4,5]
random_list=shuffle(mylist)

In [9]:
mylist

[3, 2, 5, 4, 1]

In [10]:
from random import randint

In [11]:
randint(0,100)

81

In [13]:
input('Enter a number here: ')

Enter a number here: 12

'12'